<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">







	<!-- 문제 등록 -->
	<insert id="insertQuestion" parameterType="goodee.gdj58.online.vo.Question">
		INSERT INTO question(test_no, question_idx, question_title)
		VALUES(#{testNo}
			, #{questionIdx}
			, #{questionTitle})
		<selectKey resultType="int" keyProperty="questionNo" order="AFTER">
        	SELECT LAST_INSERT_ID()
    	</selectKey>  
	</insert>
	
	<!-- 보기 등록 -->
	<insert id="insertExample" parameterType="goodee.gdj58.online.vo.Example">
		INSERT INTO example(
			question_no
			, example_idx
			, example_title
			, example_ox
		) VALUES (
			#{questionNo}
			, #{exampleIdx}
			, #{exampleTitle}
			, #{exampleOx})
	</insert>


	<!-- 시험 답보기 -->
	<select id="selectTestOx" resultType="java.util.Map" parameterType="int">
		SELECT q.question_idx questionIdx
		, e.example_idx exampleIdx
		, e.example_ox exampleOx
		FROM question q 
		INNER JOIN example e ON q.question_no = e.question_no 
		WHERE q.test_no=#{testNo} AND e.example_ox='정답'
	</select>
	
	

	<!-- test one 하나의 시험 상세보기 -->
	<select id="selectTestOne" resultType="java.util.Map" parameterType="int">
		SELECT
		t.test_title testTitle
		, q.question_no questionNo
		, q.test_no testNo
		, q.question_no questionNo
		, q.question_idx questionIdx
		, q.question_title questionTitle
		, e.example_idx exampleIdx
		, e.example_title exampleTitle
		, e.example_ox exampleOx
		FROM question q
		INNER JOIN example e ON q.question_no = e.question_no
		INNER JOIN test t ON t.test_no = q.test_no
		WHERE q.test_no = #{testNo}
	</select>
	
	<select id="selectTestTitle" resultType="goodee.gdj58.online.vo.Test" parameterType="int">
		SELECT
		test_title testTitle
		,test_no testNo
		,test_date testDate
		FROM test
		WHERE test_no = #{testNo}
	</select>


	<!-- test 시험 회차 삭제 -->
	<delete id="deleteTest" parameterType="int">
		DELETE 
		FROM test 
		WHERE test_no = #{testNo}
	</delete>
	

	<!-- test 시험 회차 추가 -->
	<insert id = "insertTest"
			parameterType="goodee.gdj58.online.vo.Test">
			INSERT 
			INTO test (teacher_no, test_title, test_date)
				VALUES (#{teacherNo}
						, #{testTitle}
						, #{testDate})

	</insert>



	<!-- test 리스트 -->
	<select id="selectTestList"
		resultType="java.util.Map"
		parameterType="java.util.Map">
		SELECT
			test.test_no testNo
			, test.teacher_no teacherNo
			, test.test_title testTitle
			, test.test_date testDate
			, teacher.teacher_name teacherName
		FROM test INNER JOIN teacher
			ON test.teacher_no = teacher.teacher_no
		<where>
		
				<if test="searchWord != null || searchWord != ''">
					AND test_title LIKE CONCAT('%', #{searchWord}, '%')
				</if>
			
		</where>
		ORDER BY test.test_date DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	
	<!-- 총 test 리스트 Count -->
	
	<select id = "selectTestCount"
		resultType="int"
		parameterType="java.util.Map">
		
		SELECT count(*)
		FROM test
		<where>
			<if test="teacherNo != null || teacherNo != 0">
				test.teacher_no = #{teacherNo}
				<if test="searchWord != null || searchWord != ''">
					AND test_title LIKE CONCAT('%', #{searchWord}, '%')
				</if>
			</if>
		</where>
	</select>

</mapper>